{
    "ocp_api": "{{ CLUSTER_API }}",
    "ocp_user": "{{ CLUSTER_USER }}",
    "ocp_token_file": "{{ CLUSTER_TOKEN_PATH }}",
    "cluster_alias": "{{ CLUSTER_ALIAS }}",
    "cluster_id": "{{ cluster_id }}",
    "ocp_metering_namespace": "{{ OCP_METERING_NAMESPACE }}"
}
