{
    "ocp_api": "{{ OCP_API }}",
    "ocp_token_file": "{{ OCP_TOKEN_PATH }}",
    "ocp_cluster_id": "{{ ocp_cluster_id }}",
    "ocp_metering_namespace": "{{ OCP_METERING_NAMESPACE }}",
    "ocp_cli": "{{ OCP_CLI }}",
    "ocp_validate_cert": "{{ ocp_validate_cert }}",
    "metering_api": "{{ METERING_API }}"
}
