[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = ">=2.7"
openshift = ">=0.10"
shellingham = ">=1.3"

[dev-packages]
tox = ">=3.14"
molecule = {extras = ["docker"],version = ">=2.20"}
flake8 = ">=3.7"
pylint = ">=2.4"
selinux = {version = ">=0.2",sys_platform = "== 'linux'"}
