[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

docker-py = "==1.10.6"
ansible = "==2.8.3"
openshift = "==0.9.0"
shellingham = "==1.3.1"


[dev-packages]

tox = "==3.13.2"
molecule = "==2.20.2"
flake8 = "==3.7.7"
pylint = "==2.3.1"
